.ButtonInfoFilho{
    margin-top: 15px;
    background-color: #F8F7F7;
    border: none;
    padding: 10px 0;
    border-radius: 3px;
    font-size: 1em;
    font-weight: bold;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 5px;
}
.ButtonInfoFilho .iconButton{
    width: 100%;
    max-width:18px;
}